<div class="global-div">
  <div class="confirmation" *ngIf="showPopupConfirmation">
    <i
      class="fa-solid fa-xmark xmark-delete"
      (click)="showPopupConfirmation = false"
    ></i>
    <p>
      Do you want to delete <strong>{{ fileToDelete }}</strong>
    </p>
    <button
      type="button"
      class="btn-delete"
      (click)="deleteArticle(fileDeleteUrl)"
    >
      Delete
    </button>
  </div>
  <div class="main-div">
    <div *ngIf="returnAfAuth().user | async">
      <i
        class="fa-solid fa-file-circle-plus"
        (click)="showArticleForm = !showArticleForm"
      ></i>
    </div>
    <div class="div-weather" *ngIf="weather">
      <p class="date">
        {{ weather.location.localtime | momentFormat : "LL" }}
      </p>
      <button class="btn-share">
        <span class="btn-text">Share</span
        ><span class="btn-icon">
          <i class="fa-solid fa-share-nodes"></i>
        </span>
        <ul class="social-icons">
          <li>
            <a target="_blank"
              ><i
                class="fa-brands fa-square-facebook"
                (click)="sharePostFacebook(pageURL)"
              ></i
            ></a>
          </li>
          <li>
            <a
              href="https://twitter.com/intent/tweet?text={{ twitterShare }}"
              target="_blank"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </li>
        </ul>
      </button>

      <div class="weather-c-icon">
        <img
          class="weather"
          src="{{ weather.current.condition.icon }}"
          alt="pic"
        />
        <div class="weather-no-icon">
          <p>{{ weather.location.name }}</p>
          <p>{{ weather.current.temp_c }}°C</p>
        </div>
      </div>
    </div>
    <div class="global-form" *ngIf="showArticleForm">
      <h2>Create an Article</h2>
      <div class="below-header-div">
        <div class="div-1">
          <label for="file">{{ selectedFileName }}</label>
          <input
            type="file"
            (change)="uploadImage($event)"
            accept="image/*"
            multiple
            id="file"
          />
        </div>
        <div class="div-2">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            class="title-form"
            [(ngModel)]="title"
          />
        </div>
        <editor
          apiKey="j2omcq3q2riehrrz8ddrusxtbvu8hvk6cijrpm94iqey34rg"
          [(ngModel)]="editorContent"
          [init]="{
            plugins:
              'lists link image paste table code help wordcount autoresize fullscreen preview',
            min_height: 400,
            max_height: 400,
            paste_as_text: true,
            paste_text_sticky: true,
            paste_text_sticky_default: true,
            paste_data_images: true,
            toolbar:
              'undo redo paste | styles | hr bold italic | underline | link image imageoptions | fullscreen' +
              '| alignleft aligncenter alignright | indent outdent table | preview'
          }"
        ></editor>
        <p class="error" *ngIf="showErrorMessage">* Please make sure all fields are filled in</p>
        <button
          class="article-button"
          type="submit"
          (click)="onSubmitArticle(title, editorContent)"
        >
          Save
        </button>
      </div>
    </div>
    <span class="loader" *ngIf="!articlesLoaded"></span>
    <div
      [routerLink]="['/news/article', article[1].uniqueId]"
      class="articles"
      *ngFor="
        let i = index;
        let article;
        of: returnedArticles | paginate : { itemsPerPage: 5, currentPage: page }
      "
    >
      <i
        *ngIf="returnAfAuth().user | async"
        class="fa-solid fa-trash"
        (click)="
          showPopupConfirmation = !showPopupConfirmation;
          fileToDelete = article[0];
          fileDeleteUrl = article[0];
          $event.stopPropagation()
        "
      ></i>
      <article class="article-div">
        <img
          [src]="
            article[1].imageURL === 'null'
              ? defaultArticleImage
              : article[1].imageURL
          "
          alt="img"
          height="200"
          class="img-art"
        />
        <div class="date-title">
          <p class="date-art">
            Added on: {{ article[1].dateCreated | momentFormat : "LL" }}
          </p>
          <h3 class="h2-art">{{ article[0] }}</h3>
        </div>
      </article>
      <button
        [routerLink]="['/news/article', article[1].uniqueId]"
        class="button"
      >
        Read
      </button>
    </div>
    <div class="pagination">
      <pagination-controls
        (pageChange)="page = $event"
        previousLabel="Previous"
        nextLabel="Next"
      ></pagination-controls>
    </div>
  </div>
</div>
