.global-div {
  width: 100%;
  min-height: 1500px;
  max-height: 6000px;
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
  color: white;
}

.main-div {
  width: 80%;
  min-height: 92rem;
  max-height: 6500px;
  border: 1px solid white;
  background-color: rgba(61, 77, 82, 0.87);
  min-height: 100vh;
}

.div-weather {
  margin-top: 2%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.div-weather > p,
div {
  margin: auto;
}

.weather-c-icon {
  display: flex;
}

.weather-no-icon {
  display: flex;
  flex-direction: column;
}

.weather-no-icon > p {
  margin-bottom: 0;
  margin-top: 0;
}

.weather-no-icon > p:nth-child(2) {
  font-size: 20px;
}

.weather-no-icon > p:nth-child(1) {
  color: #3cad85;
}

.weather {
  margin-top: 5px;
  animation: slideWeather 2s ease;
}

@keyframes slideWeather {
  from {
    margin-right: 20%;
    width: 300%;
    opacity: 0;
  }
  to {
    margin-right: 0%;
    width: 300%;
    opacity: 1;
  }
}

.date {
  animation: slideDate 1s ease;
}

@keyframes slideDate {
  from {
    padding-bottom: 50px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fa-file-circle-plus {
  position: absolute;
  right: 11%;
  top: 20%;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: docOpac 2s;
}

.fa-file-circle-plus:hover {
  color: #3cad85;
  font-size: 25px;
}

@keyframes docOpac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.global-form {
  position: absolute;
  left: 10%;
  width: 70%;
  border: 2px solid beige;
  border-radius: 25px;
  height: 100%;
  z-index: 2;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  background-color: #3a4140;
}

.title-form {
  padding: 8px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 278px;
  border-radius: 11px;
  border: 2px solid #cdcdcd;
  font-size: 16px;
  text-align: center;
}

input:focus {
  outline: none;
}

.below-header-div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.below-header-div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 25px;
}

label[for="file"] {
  background-color: #f5f5f5;
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

label[for="file"]:hover {
  background-color: #cce2fa;
}

#file {
  display: none;
}

.error {
  animation: shake 0.5s, fadeOut 3s ease-in-out 2s;
  color: wheat;
  text-align: center;
  position: absolute;
  right: 20%;
  margin-top: 5.5%;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.article-div {
  cursor: pointer;
  right: 0%;
  display: inline-block;
  position: relative;
  width: 96.7%;
  padding: 20px;
  border-bottom: 2px ridge #e9f3fc;
  transition: all 0.3s ease;
}

.article-div:hover {
  background-color: rgba(103, 124, 130, 0.87);
}

.date-art {
  position: absolute;
  margin-left: -97px;
  font-style: italic;
  font-size: 13px;
  color: #e9f3fd;
}

.h2-art {
  position: absolute;
  left: 41.5%;
  width: 40%;
  top: 5%;
  text-align: center;
  word-wrap: break-word;
}

.img-art {
  object-fit: cover;
  width: 20%;
  height: auto;
  float: left;
  padding-right: 23px;
}

.date-title {
  display: flex;
  padding-left: 6rem;
}

.editor-content {
  word-wrap: break-word;
  width: 100%;
}

.button {
  background-color: #3cad85;
  color: #e9f3fd;
  margin-left: 46%;
  margin-top: -3%;
  width: 96px;
  height: 38px;
  border: none;
  position: absolute;
  display: block;
}

.button:hover {
  background-color: #6ea190;
  cursor: pointer;
}

.article-button {
  margin: 5%;
  margin-left: 44%;
  font-family: Roboto, sans-serif;
  text-align: center;
  width: 12%;
  color: white;
  background-color: transparent;
  cursor: pointer;
  height: 3rem;
  border: 1px solid white;
  transition: all 0.3s;
}

.article-button:hover {
  background-color: rgb(170, 220, 170);
}

strong {
  color: #c7e1d6;
  word-wrap: break-word;
}

.selected {
  height: 1000px;
  overflow: auto;
  background-color: #3d4d52de;
}

.loader {
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  display: block;
  position: absolute;
  left: 48%;
  top: 45%;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  text-align: center;
  margin-top: 3%;
}

.pagination ::ng-deep .ngx-pagination .current {
  background: #3cad85;
}

.btn-share {
  --btn-color: transparent;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(#3cad85, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); //ease-out-cubic

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    border-radius: 24px;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .btn-text,
  .btn-icon {
    display: inline-flex;
    vertical-align: middle;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .btn-text {
    transition-delay: 0.05s;
  }

  .btn-icon {
    margin-left: 8px;
    transition-delay: 0.1s;
  }

  .social-icons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateY(-50%);

    li {
      flex: 1;

      a {
        text-decoration: none;
        display: inline-flex;
        vertical-align: middle;
        transform: translateY(55px);
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &:hover {
    &::before {
      transform: scale(1.2);
    }

    .btn-text,
    .btn-icon {
      transform: translateY(-55px);
    }

    .social-icons li {
      a {
        transform: translateY(0);
      }

      @for $i from 1 through 2 {
        &:nth-child(#{$i}) a {
          transition-delay: 0.1s + 0.05s * $i;
        }
      }
    }
  }
}

.fa-share-nodes {
  -webkit-text-stroke: 1px rgba(61, 77, 82, 0.87);
}

i {
  color: white;
}

.fa-square-facebook {
  padding-left: 22px;
}

.fa-twitter {
  padding-right: 50px;
}

.fa-trash {
  position: absolute;
  cursor: pointer;
  right: 12%;
  font-size: 19px;
  z-index: 1;
  margin-top: 2%;
  transition: all 0.5s;
}

.fa-trash:hover {
  color: #3cad85;
}

.confirmation {
  border: 1px solid white;
  position: fixed;
  top: 30%;
  left: 35%;
  padding: 15px;
  width: 430px;
  z-index: 1;
  background-color: rgb(61, 77, 82);
  animation: opac 0.6s ease-in-out;
}

.confirmation > p {
  text-align: center;
}

.btn-delete {
  margin: 15px 0px;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  background-color: teal;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #688f8f;
}

.xmark-delete {
  margin-left: 97%;
  margin-top: -1%;
  color: #be6f25;
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .global-div {
    margin-bottom: 4%;
    margin-top: 10%;
  }

  .btn-share {
    display: none;
  }

  .button {
    display: none;
  }

  .article-div {
    font-size: 8px;
    padding: 5px;
  }

  .date-art {
    font-size: 8px;
    margin-top: 22%;
  }

  .img-art {
    width: 40%;
  }

  .h2-art {
    left: 50.5%;
  }

  .pagination {
    font-size: 0.6rem;
    margin-right: 9%;
  }

  .main-div {
    width: 100%;
    border: none;
  }

  .fa-trash {
    right: 4%;
  }

  .fa-file-circle-plus {
    right: 0;
    top: 27%;
    font-size: 20px;
  }
}
