.facebook {
  position: absolute;
  right: 7%;
  top: 19%;
}

.mail {
  position: absolute;
  right: 11%;
  top: 19%;
}

/* Wrapper */
.icon-button {
  background: white;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 3.6rem;
  margin: -1.3rem;
}

.facebook span {
  background-color: #3b5998;
}

.mail span {
  background-color: #3cad85;
}

/* Icons */
.icon-button i {
  background: none;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-envelope-open-text {
  color: #3cad85;
}

.icon-button .icon-facebook {
  color: #3b5998;
}

.icon-button:hover .fa-facebook-f,
.icon-button:hover .fa-envelope-open-text {
  color: white;
}

.div-main {
  margin: 85px;
  margin-top: 0px;
  background-color: rgb(61 77 82 / 87%);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding-left: 33px;
  padding-right: 33px;
  text-align: center;
  min-height: 100vh;
}

svg {
  margin-top: 30px;
}

.svg-eko {
  word-spacing: 28px;
}

article {
  margin-top: 35px;
}

article > img {
  width: auto;
  height: 400px;
  margin-right: 20px;
  float: left;
  margin-top: -50px;
}

p {
  font-family: "Nunito", sans-serif;
  text-align: left;
}

// SVG Animations

svg > text {
  animation: approaching 2s ease;
}

@keyframes approaching {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0);
  }
}

#bottom-left,
#bottom-right {
  animation: fill-bottom 2s ease;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes fill-bottom {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    visibility: visible;
    clip-path: inset(0);
  }
}

#top-left,
#top-right {
  animation: fill-top 2s ease;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes fill-top {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    visibility: visible;
    clip-path: inset(0);
  }
}

.fa-code {
  color: white;
  position: absolute;
  left: 0.4%;
  margin-top: -1.3%;
}

.mine {
  display: none;
}

.fa-code:hover > .mine {
  display: block;
}

// Responsive design
@media (max-width: 600px) {
  .div-main {
    margin: 0;
    margin-top: 15%;
    background-color: rgba(61, 77, 82, 0.87);
    color: white;
    border: none;
    border-radius: 0px;
    padding-left: 33px;
    padding-right: 0px;
    text-align: center;
  }

  .mail {
    top: 7rem;
    right: 20%;
  }

  .facebook {
    top: 7rem;
  }

  article > img {
    float: none;
    height: 300px;
  }

  article {
    max-height: 3000px;
    padding-bottom: 2px;
  }

  .div-main {
    min-height: 1800px;
    max-height: 3000px;
    margin-bottom: 15%;
    padding-right: 33px;
  }

  .fa-code {
    display: none;
  }
}
