article {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  margin-top: 0px;
  background-color: rgb(61 77 82 / 87%);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding-left: 33px;
  padding-right: 33px;
  text-align: left;
  font-family: "Nunito", sans-serif;
  min-height: 100vh; 
}

h2 {
  text-align: center;
}

p {
  text-align: left;
}

strong {
  color: #3cad85;
}

span {
  font-weight: bold;
}

a {
  color: #3cad85;
}

@media (max-width: 600px) {
  article {
    margin: 0;
    margin-top: 15%;
    margin-bottom: 15%;
    border: none;
    border-radius: 0px;
    padding-left: 33px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 33px;
  }
}
