div {
  width: 100%;
  height: 50px;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: rgba(127, 255, 212, 0.25);
  font-family: Nunito, sans-serif;
  color: #fff;
}
