article {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  margin-top: 0px;
  background-color: rgb(61 77 82 / 87%);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding-left: 33px;
  padding-right: 33px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  min-height: 100vh;
}

h2 {
  text-align: center;
}

p {
  line-height: 24px;
}

strong {
  color: #3cad85;
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #3cad85;
}

.images {
  display: block;
  text-align: center;
}

img {
  margin-left: 20px;
  width: 364px;
  height: 280px;
}

.scroll {
  position: fixed;
  transition: opacity 0.5s;
  font-size: 40px;
  right: 4%;
  top: 40%;
  border: 1px solid transparent;
  border-radius: 300px;
  width: 60px;
  text-align: center;
  height: 60px;
  background-color: #2d4251;
  cursor: pointer;
  transition: color 0.2s;
  animation: fadeIn 1s;

  &:hover {
    .first {
      transform: translate(0, -150%);
      opacity: 0;
    }
    .second {
      transform: translate(0, -137%);
      opacity: 1;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll > i {
  color: aquamarine;
  margin-top: 9px;
  z-index: 1;
  transition: all 0.2s;
}

.scroll > .second {
  opacity: 0;
}

h1 {
  text-align: center;
}

@media (max-width: 600px) {
  article {
    margin: 0;
    margin-bottom: 15%;
    margin-top: 15%;
    border: none;
    border-radius: 0px;
    padding-bottom: 1%;
    padding-top: 1%;
  }

  img {
    width: 300px;
    height: auto;
    margin-left: 0;
  }
}
