<div class="global-div">
  <div class="main-div">
    <li>
      <i
        (click)="showForm = !showForm"
        class="fa-solid fa-plus"
        *ngIf="returnAfAuth().user | async"
      ></i>
    </li>
    <div [hidden]="!showForm" *ngIf="returnAfAuth().user | async">
      <div class="pdf-div">
        <h3>Add document</h3>
        <label for="title">Title</label>
        <input type="text" id="title" [(ngModel)]="title" />
        <label for="year">For Year</label>
        <select type="text" id="year" [(ngModel)]="year">
          <option *ngFor="let year_turn of yearValues">{{ year_turn }}</option>
        </select>
        <label for="file" class="file-label">
          <h5>{{ selectedPdfFileName }}</h5>
          <p class="p-inside-label">Supported files: PDF</p>
        </label>
        <input
          type="file"
          id="file"
          (change)="uploadPdf($event)"
          accept="application/pdf"
        />
        <button type="button" (click)="saveDocument()">Save</button>
        <p *ngIf="showErrorMessage" class="error">Fill in all fields</p>
        <div *ngIf="progress !== '0' && progress !== '100'">
          Uploading: {{ progress }} %
        </div>
        <div *ngIf="progress === '100'">
          Successfully <i class="fa-regular fa-circle-check"></i>
        </div>
      </div>
    </div>
    <h2>Public Register</h2>
    <span class="loader" *ngIf="!docsLoaded"></span>
    <div class="load-docs" *ngFor="let item of returnedDocuments">
      <h3>{{ item[0] }}</h3>
      <div class="doc-link" *ngFor="let item of item[1]">
        <li>
          <a [href]="item.fileUrl"> {{ item.name }}</a
          ><i
            class="fa-solid fa-xmark"
            *ngIf="returnAfAuth().user | async"
            (click)="confirmationDelete(item.fileUrl, item.name)"
          ></i>
        </li>
      </div>
    </div>
    <div class="confirmation" *ngIf="showPopupConfirmation">
      <i
        class="fa-solid fa-xmark xmark-delete"
        (click)="showPopupConfirmation = false"
      ></i>
      <p>
        Do you want to remove? <strong>{{ fileToDelete }}</strong>
      </p>
      <button
        type="button"
        class="btn-delete"
        (click)="deleteFile(fileDeleteUrl)"
      >
        Remove
      </button>
    </div>
  </div>
</div>
