.main-div {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(61 77 82 / 87%);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 40px;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  color: white;
}

.pdf-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  height: 27rem;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  border: 1px solid white;
  background-color: rgba(61, 77, 82, 0.87);
}

.load-docs {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  text-align: left;
}

.fa-plus {
  color: white;
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
  transition: color 0.5s;
  margin-top: 2%;
  margin-left: 95%;
}

.fa-plus:hover {
  color: #3cad85;
}

li {
  list-style-type: none;
}

.container {
  margin: 100px;
  background-color: white;
  padding: 40px;
}

.container h2 {
  color: teal;
}

input {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0px;
  text-indent: 10px;
  margin-bottom: 20px;
  height: 35px;
  font-size: 18px;
}

button {
  margin: 15px 0px;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  background-color: teal;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

h3,
h2 {
  text-align: center;
  font-weight: 100;
  font-size: 23px;
}

strong {
  color: #c7e1d6;
  word-wrap: break-word;
}

select {
  cursor: pointer;
  width: 20%;
  height: 30px;
  color: black;
  margin-bottom: 20px;
  margin: 5px 0px 20px;
}

.file-label {
  background-color: rgba(0, 255, 231, 0);
  text-align: center;
  cursor: pointer;
  height: 5rem;
  padding-top: 0%;
  border: 2px dashed rgba(0, 211, 255, 0.4196078431);
  border-radius: 10px;
}

#file {
  display: none;
}

button:hover {
  background-color: #688f8f;
}

.p-inside-label {
  font-size: 10px;
  margin-left: 75%;
}

.error {
  animation: shake 0.5s, fadeOut 3s ease-in-out 2s;
  color: wheat;
  text-align: center;
  bottom: 14%;
  right: 46.5%;
  position: absolute;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.global-div {
  min-height: 1000px;
  max-height: 6000px;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.fa-xmark {
  margin-left: 2%;
  font-size: 15px;
  cursor: pointer;
}

.xmark-delete {
  margin-left: 97%;
  margin-top: -1%;
  color: #be6f25;
  font-size: 22px;
  cursor: pointer;
}

.doc-link > li {
  margin-top: 1%;
}

.doc-link > li > a {
  text-decoration: underline;
  color: #c7e1d6;
  font-size: 20px;
}

.confirmation {
  border: 1px solid white;
  position: fixed;
  top: 30%;
  left: 35%;
  padding: 15px;
  width: 430px;
  background-color: rgb(61, 77, 82);
  animation: opac 0.6s ease-in-out;
}

.confirmation > p {
  text-align: center;
}

.delete-success {
  background: beige;
  color: #79948b;
  font-family: "Nunito";
  text-align: center;
  border: 1px solid black;
  z-index: 1;
  width: 25%;
  height: 8%;
  position: absolute;
  top: 0;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loader {
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  display: block;
  position: absolute;
  left: 48%;
  top: 45%;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .main-div {
    margin: 0;
    margin-top: 13%;
    margin-bottom: 10%;
    border: none;
    border-radius: 0;
    padding-top: 12%;
  }
}
