<div>
  <nav>
    <i class="menu-icon fa-solid fa-bars" [ngClass]="{ changeColor: showMenu }" (click)="showMenu = !showMenu"></i>
    <img src="assets/img/malkodurveNEW.png" alt="img" height="60" routerLink="/home" class="logo"/>
    <ul [ngClass]="{ opened: showMenu }" class="ul">
      <li><a routerLinkActive="active" routerLink="/home" (click)="showMenu = !showMenu">Home</a></li>
      <li>
        <a routerLinkActive="active" routerLink="/structure" (click)="showMenu = !showMenu">Impact and Resources</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/news" (click)="showMenu = !showMenu">News</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/public" (click)="showMenu = !showMenu">Environmental Reports</a>
      </li>
      <li class="li-logout" (click)="logout()" *ngIf="returnAfAuth().user | async">
        <i class="logout fa-solid fa-arrow-right-from-bracket"></i>
      </li>
      <img src="assets/img/admin.png" alt="img" height="60" routerLink="/admin" class="admin-logo" />
    </ul>
  </nav>
</div>
