div {
  padding-bottom: 50px;
  padding-top: 0.3em;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

nav {
  border-bottom: 1px white solid;
  height: 4rem;
  background-color: rgba(61, 77, 82, 0.87);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
}

ul > li {
  list-style: none;
  padding-left: 50px;
  font-size: 20px;
}

a {
  text-decoration: none;
  transition: color 0.5s;
  color: rgb(255, 255, 255);
}

a:hover {
  color: #3cad85;
}

.active {
  color: #3cad85;
}

form {
  margin-left: 70px;
  margin-top: -4px;
}

.fa-solid {
  position: absolute;
  z-index: 1;
  margin: 9px;
  margin-left: 275px;
}

.logout {
  color: white;
  position: absolute;
  margin-top: 2px;
  font-size: 25px;
  transition: color 0.5s;
  cursor: pointer;
}

.logout:hover {
  color: #3cad85;
}

.logo {
  position: absolute;
  left: 1rem;
}

.admin-logo {
  height: 50px;
  margin-top: -0.5rem;
  right: 15px;
  position: absolute;
  cursor: pointer;
}

.fa-bars {
  display: none;
}

@media (max-width: 600px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }

  .ul {
    display: none;
  }

  .logo {
    display: block;
    position: relative;
    margin-left: 9%;
    margin-top: 1%;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .fa-bars {
    display: block;
    margin: 1rem;
    font-size: 1.7rem;
    margin-top: 1.6rem;
    color: #3cad85;
    transition: color 0.5s;
  }

  .changeColor {
    color: azure;
  }

  .opened {
    display: block;
    background-color: #2d3f39;
    width: 50%;
    text-align: center;
    margin-top: -2%;
  }

  .opened > li {
    padding: 0;
  }

  .li-logout {
    position: absolute;
    top: 38%;
  }
}
