<div class="main-div">
  <div class="login-box main-div">
    <div class="board-1">
      <h2>Admin Dashboard</h2>
      <img src="assets/img/admin.png" alt="img" (click)="navigateToHome()" />
    </div>
    <form #authForm="ngForm" (ngSubmit)="loginWithCredentials(authForm)">
      <div class="user-box">
        <input type="text" id="email" name="email" ngModel required />
        <label>User</label>
      </div>
      <div class="user-box">
        <input type="password" id="password" name="password" ngModel required />
        <label>Password</label>
      </div>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      <button type="submit">Log in</button>
    </form>
  </div>
</div>
