.main-div {
  width: 100%;
  height: 745px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #00000078 -15%, #3d4d52de 100%);
  overflow: hidden;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  min-height: 115vh;
}
.board-1 {
  align-items: center;
  display: flex;
  margin-top: -3rem;
}
input:autofill,
input:autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.login-box {
  position: absolute;
  background: rgba(0, 0, 0, 0.14);
}
.login-box h2 {
  margin: -150px -10px 30px;
  padding: 50px;
  padding-right: 100px;
  color: #fff;
  text-align: center;
}
.login-box .user-box {
  position: relative;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: 0;
  background: 0 0;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #3cad85;
  font-size: 12px;
}
button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 60px;
  letter-spacing: 4px;
  border: 1px solid #fff;
  cursor: pointer;
}
.login-box button:hover {
  background: #fff;
  color: #3cad85;
}
h2 {
  font-weight: 100;
}
img {
  margin-left: -60%;
  cursor: pointer;
}
.error {
  position: absolute;
  margin-top: 5px;
  animation: shake 0.5s;
  color: wheat;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 600px) {
  .login-box {
    left: 4%;
    width: 92%;
  }

  .login-box > h2 {
    margin: -20px 0px 30px;
    margin-left: 21%;
    font-size: 18px;
    padding: 0;
    padding-right: 64px;
  }

  .main-div {
    display: grid;
    justify-content: center;
  }

  img {
    position: relative;
    margin-left: 29%;
    margin-bottom: 12%;
    margin-top: -14%;
    width: 37%;
  }

  button {
    margin: 0;
    margin-left: 24%;
  }
}
