.background {
  width: 100%;
  max-height: 10000px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../../assets/img/background.jpg");
  background-attachment: fixed;
  transition: background-image 2s ease-in-out;
}

@media (max-width: 600px) {
  .background {
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
