::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 1px 0px 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #767676;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2d7c9;
}

html {
  margin: 0;
  padding: 0;
  margin-top: -22px;
}

body {
  margin: 0;
  padding: 0;
}
