<div class="main-div">
  <article *ngIf="this.article">
    <div class="header">
      <p class="date">
        Added on: {{ this.article.dateCreated | momentFormat : "LL" }}
      </p>
      <div class="btn_wrap">
        <a href="mailto:ekorekolta@gmail.com">
          <i class="fa-solid fa-at"></i>
        </a>
        <i class="fa-solid fa-print" (click)="printArticle()"></i>
        <i
          class="fab fa-facebook-f"
          (click)="sharePostFacebook(articleURL)"
        ></i>
        <a href="https://twitter.com/intent/tweet?text={{ twitterShare }}" class="twitter">
          <i class="fab fa-twitter"></i
        ></a>
      </div>
    </div>
    <h1>{{ this.article.title }}</h1>
    <p class="content" [innerHTML]="this.article.content | htmlSanitizer"></p>
  </article>
  <span class="loader" *ngIf="!articleLoaded"></span>
  <div class="my-disqus">
    <disqus [identifier]="articleURL"></disqus>
  </div>
</div>
