.main-div {
  border: 1px solid white;
  width: 80%;
  min-height: 1000px;
  max-height: 10000px;
  background-color: rgba(61, 77, 82, 0.87);
  margin-left: 9%;
  margin-bottom: 3%;
  font-family: Roboto, sans-serif;
  color: white;
  padding: 2rem;
}

article > h1 {
  word-wrap: break-word;
  padding-bottom: 25px;
  text-align: center;
}

article {
  width: 100%;
}

.content {
  word-wrap: break-word;
  width: 100%;
}

.header {
  display: flex;
}

.my-disqus {
  width: 95%;
  padding-left: 30px;
  margin-top: 13%;
}

.loader {
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  display: block;
  position: absolute;
  left: 48%;
  top: 30%;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.date {
  font-style: italic;
  color: #e9f3fd;
}

.btn_wrap {
  display: inline-flex;
  margin-left: 67%;
}

i {
  margin-left: 35%;
  cursor: pointer;
  transition: color 0.3s;
}

.fab {
  font-size: 26px;
}

.fa-print,
.fa-at {
  color: #3cad85;
  font-size: 25px;
  -webkit-text-stroke: 1px rgba(61, 77, 82, 0.87);
}

.fa-at {
  color: #71c8c2;
}

.fa-facebook-f {
  color: #4267b2;
}

.fa-twitter {
  color: #1da1f2;
}

.twitter {
  margin-left: 22%;
}

@media (max-width: 600px) {
  .main-div {
    margin: 0;
    margin-top: 12%;
    border: none;
  }

  .content > p > img {
    object-fit: cover;
    width: 20%;
    height: auto;
  }

  .btn_wrap {
    margin-left: 6%;
  }

  .date {
    font-size: 12px;
  }

  .main-div {
    min-width: 83.5%;
    max-width: 85%;
    margin-bottom: 15%;
  }

  .fab {
    font-size: 15px;
    margin-left: 26%;
    margin-top: 3%;
  }

  .fa-print {
    font-size: 15px;
    margin-top: 3%;
  }

  .fa-at {
    font-size: 15px;
  }
}
